#viewable-text
{ 
	position: relative; 
	width: 800px; 
	height: 400px; 
	color: #3a3a3a;
	background-color: #f3f3f3;
	font-family: Monaco;
	font-size: 20px;
	line-height: 26px;
	padding: 40px;
	margin: 100px auto;
	
}
.cursor  { width:3px; height: 26px; position: absolute; background-image: url('cursor.gif'); }
#hidden-input { 
	display: none;
}

